<footer class="page-footer">
            <div class="page-footer__inner">
                <div data-uk-grid>
                    <div class="uk-width-2-5@m">
                        <div class="page-footer__logo"><a class="logo" href="01_home-cosmetic.html"><img src="assets/img/logo-big.png" alt="Viasun"></a></div>
                        <div class="page-footer__menus">
                            <div class="uk-child-width-1-2" data-uk-grid>
                                <div>
                                    <div class="uk-h4">Quick Links</div>
                                    <ul class="uk-nav">
                                        <li> <a href="01_home-cosmetic.html"> Homepage</a></li>
                                        <li> <a href="/page-typography.html"> About Viasun</a></li>
                                        <li> <a href="/03_product.html"> Our Products</a></li>
                                        <li> <a href="/06_contact.html"> Contact us</a></li>
                                    </ul>
                                </div>
                                <div>
                                    <div class="uk-h4">Get Support</div>
                                    <ul class="uk-nav">
                                        <li> <a href="/page-typography.html">My Account</a></li>
                                        <li> <a href="/page-typography.html">Order History</a></li>
                                        <li> <a href="/page-typography.html">Shipping Policy</a></li>
                                        <li> <a href="/page-typography.html">Promotions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-3-5@m">
                        <div class="page-footer__text">
                            <p>Enim venia quis nostrud exrcit ulamco laboris nst aliquipas conseqa reprehen derit eu fugiat nula pariatur. Lorem ipsum dolor sitya amet consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                        <div class="page-footer__social">
                            <div class="uk-h3">Follow Us</div>
                            <ul class="social">
                                <li><a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="http://www.vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="http://www.google-plus.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="page-footer__bottom">
                            <div class="copy">(c) 2022 — All rights reserved.</div>
                            <div class="payments"> <img src="assets/img/payment-1.png" alt="payment"><img src="assets/img/payment-2.png" alt="payment"><img src="assets/img/payment-3.png" alt="payment"><img src="assets/img/payment-4.png" alt="payment"><img src="assets/img/payment-5.png" alt="payment"><img src="assets/img/payment-6.png" alt="payment"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="offcanvas" data-uk-offcanvas="overlay: true; mode: slide; flip: true">
                <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-flex-between"><button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
                    <div>
                        <div class="uk-margin uk-margin-remove-top"><a class="logo" href="01_home-cosmetic.html"><img src="assets/img/logo.png" alt="Viasun"></a></div>
                    </div>
                    <div>
                        <div class="uk-margin">
                            <ul class="uk-nav uk-nav-default">
                                <li><a href="01_home-cosmetic.html">Home</a></li>
                                <li><a href="02_shop.html">Shop</a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li> <a href="07_shop-default.html">Default Shop Style</a></li>
                                            <li><a href="02_shop.html">Creative Shop Style</a></li>
                                            <li><a href="13_shop-grid.html">All Products</a></li>
                                            <li><a href="03_product.html">Default Product Page</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="03_product.html">Collections</a></li>
                                <li><a href="12_about.html">About</a></li>
                                <li><a href="04_blog-main.html">Blog</a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li> <a href="04_blog-main.html">Blog main</a></li>
                                            <li><a href="05_blog-post.html">Blog post</a></li>
                                            <li><a href="11_blog-post-new.html">Blog post new</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="06_contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-block">
                        <p>Tempor incididunt ut labore sed low dolore magna aliqua uet enim ad tempor veniam anety.</p>
                        <ul class="social">
                            <li><a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="http://www.vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
                            <li><a href="http://www.google-plus.com" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-modal-full uk-modal" id="modal-search" data-uk-modal>
                <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport><button class="uk-modal-close-full" type="button" data-uk-close></button>
                    <form class="uk-search uk-search-large"><input class="uk-search-input uk-text-center" type="search" placeholder="Search" autofocus></form>
                </div>
            </div>
        </footer>
    </div>