<div class="page-wrapper">
    <header class="page-header">
        <div class="page-header__inner">
            <div class="page-header__logo"><a class="logo" href="{{ site.url }}"><img src="{{ "logo.png" | asset_url }}assets/img/logo.png"
                        alt="{{ site.name }}"></a></div>
            <div class="page-header__menu">
                <nav class="page-nav" data-uk-navbar="">
                    <ul class="uk-navbar-nav">
                        <li><a href="01_home-cosmetic.html">Home</a></li>
                        <li><a href="02_shop.html">Shop</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="02_shop.html">Creative Shop Style</a></li>
                                    <li> <a href="07_shop-default.html">Shop Sidebar Style</a></li>
                                    <li><a href="13_shop-grid.html">Shop Wide Style</a></li>
                                    <li><a href="08_product-default.html">Default Product Page</a></li>
                                    <li><a href="03_product.html">Creative Product Page</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="12_about.html">About</a></li>
                        <li><a href="03_product.html">Pages</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="09_login.html">Login Page</a></li>
                                    <li><a href="10_reset-password.html">Reset password</a></li>
                                    <li><a href="page-typography.html">Typography Page</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="04_blog-main.html">Blog</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li> <a href="04_blog-main.html">Blog main</a></li>
                                    <li><a href="05_blog-post.html">Blog post 1</a></li>
                                    <li><a href="11_blog-post-new.html">Blog post 2</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="06_contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="page-header__btn"> <a class="menu-btn" href="#offcanvas" data-uk-toggle> <img
                        src="assets/img/icon_menu-btn.svg" alt="menu-btn"></a></div>
        </div>
    </header>